
$bg-home = rgba(255,235,59,1)
$font-home = rgba(37,37,37,1)

// $bg-subscribe = rgba(37,37,37,1)
// $font-subscribe = rgba(255,255,255,1)

// $bg-about = rgba(244,67,54,1)
// $font-about =rgba(255,255,255,1)

// $bg-services = rgba(60,99,148,1)
// $font-services = rgba(255,255,255,1)

// $bg-contact = rgba(222,222,222,1)
// $theme-contact = rgba(37,37,37,1)

// $ok = #5597F5
// $err = #d9534f

// bgHome(n) 
//   return rgba(255,235,59,n)
// fontHome(n)
//   return rgba(37,37,37,n)

// bgSubscribe(n)
//   return rgba(37,37,37,n)
// fontSubscribe(n)
//   return rgba(255,255,255,n)

// bgAbout(n)
//   return rgba(244,67,54,n)
// fontAbout(n)
//   return rgba(255,255,255,n)

// bgServices(n)
//   return rgba(60,99,148,n)
// fontServices(n)
//   return rgba(255,255,255,n)

// bgContact(n)
//   // return rgba(60,99,148,n)
//   return rgba(222,222,222,n)
// fontContact(n)
//   // return rgba(255,255,255,n)
//   return rgba(37,37,37,n)

$bgColor = #252525
$themeColor = #ffcd32
$defaultColor =#ccc
$boderColor = #444

$fontXS = 12px
$fontS  = 14px
$fontM  = 16px
$fontXM  = 18px
$fontL  = 20px
$fontXL = 22px
$fontXXL = 24px
